<form id="create_event" action='/events/create' method='post'>
	Enter event details here:<br><br>
	Name: <input type='text' name='name'><br><br>
	Email: <input type='text' name='email'><br><br>
	Event Title: <input type='text' name='title'><br><br>
	Date: <input type='date' name='date'><br><br>
	<input type='submit' value='create my event!'>
</form>

<div id='event_confirmation'><div>